// Colorscheme

$content-width: 720px;
$tablet-width: 1024px;
$mobile-width: 430px;

:root {
  --bg-color: white;
  --text-color: black;
  --icon-color: green;

  --line-default-color: 1px solid gray;
  --line-hidden-color: 1px solid transparent;
  --line-hover-color: 1px solid gray;

  --link-color: green;
  --link-hover-color: limegreen;

  --tag-color: green;
  --tag-hover-color: limegreen;

  --toc-link-color: green;
  --toc-link-hover-color: limegreen;
  --toc-indicator-hidden-color: 3px solid transparent;
  --toc-indicator-hover-color: 3px solid green;

  --disabled-color: gray;

  --inline-code-color: green;
  --inline-code-bg: #eeffee;

  --mermaid-background: transparent;
  --mermaid-brightness: 100%;

  --blockquote-border-color: limegreen;
}

.dark {
  --bg-color: #2b2a33;
  --text-color: white;
  --icon-color: orange;

  --line-default-color: 1px solid orange;
  --line-hidden-color: 1px solid transparent;
  --line-hover-color: 1px solid yellow;

  --link-color: orange;
  --link-hover-color: yellow;

  --tag-color: orange;
  --tag-hover-color: yellow;

  --toc-link-color: orange;
  --toc-link-hover-color: yellow;
  --toc-indicator-hidden-color: 3px solid transparent;
  --toc-indicator-hover-color: 3px solid orange;

  --disabled-color: gray;

  --inline-code-color: orange;
  --inline-code-bg: #444;

  --mermaid-background: white;
  --mermaid-brightness: 70%;

  --blockquote-border-color: orange;
}

// Typography
:root {
  --header-height: 48px;
  --footer-height: 32px;

  --main-font: "Fira Mono", Roboto, system-ui, sans-serif;
  --main-font-size: 16px;

  --header-font-size: 20px;
  --header-font-weight: bold;

  --nav-brand-size: 1.3em;

  --icon-size: 1.1em;
  --aside-font-size: 15px;

  --tags-list-font-size: 22px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 0.5em);
}

body {
  background: var(--bg-color);
  height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: 1.6em;
  color: var(--text-color);
}

header {
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--line-default-color);
  position: fixed;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

footer {
  width: $content-width;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0;

  display: flex;
  justify-content: space-between;
  font-family: "Cantarell";

  @media (max-width: $content-width) {
    width: 100%;
    padding: 0.5em 1em;
  }
}

.hide {
  display: none !important;
}

.show {
  display: initial !important;
}

.disabled {
  pointer-events: none;
  color: var(--disabled-color);
}

.blog {
  width: $content-width;
  height: 100%;

  margin-top: var(--header-height);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin: 0.5em 0;
  }

  &__list {
    width: 100%;
    list-style: none;
  }

  &__item {
    margin-bottom: 0.5em;
  }

  &__link {
    color: var(--link-color);
    display: flex;
    justify-content: space-between;
    border-bottom: var(--line-hidden-color);
    &:hover {
      color: var(--link-hover-color);
      border-bottom: var(--line-hover-color);
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $content-width) {
    width: 100%;
    padding: 0 1em;
  }
}

.home {
  border: var(--line-default-color);
  border-radius: 10px;
  padding: 1em;
  width: $content-width;
  margin: auto;

  @media (max-width: $content-width) {
    width: 100%;
    margin-top: var(--header-height);
    border: none;
  }

  &-profile {
    display: flex;
    align-items: center;
    gap: 1em;

    &__avatar {
      border-radius: 100%;
      border: var(--line-default-color);
      width: 64px;
      height: 64px;
    }

    &__info {
      gap: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-name {
        font-weight: bold;
      }

      &-handle {
        color: var(--link-color);
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    margin-bottom: 2em;

    &__sections {
      display: flex;
      gap: 1em;
    }

    &__sections-item {
      border-bottom: var(--line-default-color);
      color: var(--link-color);
    }

    &__sections-item:hover {
      color: var(--link-hover-color);
    }

    &__social {
      display: flex;
      gap: 0.5em;
      align-items: center;
      margin-left: auto;
    }

    &__social-icon {
      display: flex;
      align-items: center;
      color: var(--icon-color);
      svg {
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }

    &__theme-toggle {
      background: transparent;
      border: none;
      display: flex;
      color: var(--icon-color);
      svg {
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }
  }
}

.top-nav {
  width: $content-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Cantarell";

  &__content {
    display: flex;
    gap: 0.3em;
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    line-height: 1.2em;
  }

  &__brand {
    display: flex;
    align-items: center;
    color: var(--text-color);
    &:hover {
      color: var(--link-hover-color);
    }
    &-img {
      border: var(--line-default-color);
      border-radius: 100%;
      width: var(--nav-brand-size);
      height: var(--nav-brand-size);
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    color: var(--text-color);
    &:hover {
      color: var(--link-hover-color);
    }
  }

  &__divider {
    margin-right: 0.5em;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__theme-toggle {
    border: none;
    color: var(--icon-color);
    width: var(--header-font-size);
    height: var(--header-font-size);
    background: transparent;

    &:hover {
      color: var(--toc-link-hover-color);
    }

    &.active {
      color: var(--toc-link-hover-color);
    }
  }

  &__toc-toggle {
    display: none;
    border: none;
    color: var(--icon-color);
    width: var(--header-font-size);
    height: var(--header-font-size);
    background: transparent;

    &:hover {
      color: var(--toc-link-hover-color);
    }

    &.active {
      color: var(--toc-link-hover-color);
    }

    @media (max-width: $tablet-width) {
      display: initial;
    }
  }

  @media (max-width: $content-width) {
    width: 100%;
    padding: 0 1em;
  }
}

.post {
  margin-top: var(--header-height);

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &-toc {
    height: 80svh;
    width: calc((100% - $content-width) / 2);

    position: sticky;
    margin-top: 5em;
    top: var(--header-height);
    font-size: var(--aside-font-size);

    overflow-y: scroll;
    scrollbar-width: none;

    @media (max-width: $tablet-width) {
      display: none;
      width: 20em;
      height: calc(100svh - var(--header-height));
      background: var(--bg-color);
      margin-top: var(--header-height);

      position: fixed;
      z-index: 10;
      top: 0;
      right: 0;
    }

    // &__nav {
    //   max-height: 90svh;
    //   overflow-y: scroll;
    //   scrollbar-width: none;
    // }

    &__list {
      list-style: none;
      padding: 0.2em 0.5em;
    }

    &__item {
      padding: 0.2em 0.5em;
    }

    &__link {
      display: block;
      padding-left: 0.3em;
      border-left: var(--toc-indicator-hidden-color);
      color: var(--toc-link-color);
      &:hover {
        border-left: var(--toc-indicator-hover-color);
        color: var(--toc-link-hover-color);
      }
    }
  }

  &__title {
    padding-top: 0.5em;
  }

  &__article {
    width: $content-width;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .zola-anchor {
      visibility: hidden;
      margin-left: 0.5em;
      color: var(--toc-link-color);
      &:hover {
        color: var(--toc-link-hover-color);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:hover a.zola-anchor {
        visibility: visible;
        border-bottom: var(--line-hover-color);
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    @media (max-width: $content-width) {
      padding: 0 1em;
    }
  }

  &__padding {
    width: calc((100% - $content-width) / 2);
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $mobile-width) {
      flex-direction: column;
    }
  }

  &__tags {
    margin-left: auto;
    &-link {
      color: var(--tag-color);
      &:hover {
        color: var(--tag-hover-color);
      }
    }

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }
}

.projects {
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
  &__content {
    width: $content-width;
  }
  &__card {
    border: var(--line-default-color);
    border-radius: 10px;
    margin: 1em 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media (max-width: $tablet-width) {
      margin: 1em 1em;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__tags {
    color: var(--tag-color);
    list-style: none;
    display: flex;
    gap: 0.5em;
  }
  &__links {
    list-style: none;
    display: flex;
    gap: 0.5em;
  }
  &__link {
    color: var(--link-color);
    border-bottom: var(--line-default-color);
    &:hover {
      color: var(--link-hover-color);
    }
  }
}

.tags {
  margin-top: var(--header-height);
  margin-left: auto;
  margin-right: auto;

  width: $content-width;

  @media (max-width: $content-width) {
    background: orange;
    width: 100%;
  }

  &__title {
    text-align: center;
    margin: 0.5em 0;
  }

  &__list {
    font-size: var(--tags-list-font-size);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    color: var(--tag-color);
    margin: 0.5em;
    border-bottom: var(--line-hidden-color);
    &:hover {
      color: var(--tag-hover-color);
      border-bottom: var(--line-hover-color);
    }
  }
}

.toc-toggler {
  display: none;
  border: none;
  color: var(--icon-color);
  width: var(--header-font-size);
  height: var(--header-font-size);
  background: transparent;

  &:hover {
    color: var(--toc-link-hover-color);
  }

  &.active {
    color: var(--toc-link-hover-color);
  }

  @media (max-width: $tablet-width) {
    display: initial;
  }
}

.footer {
  &__socials {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-left: auto;

    &-icon {
      color: var(--icon-color);
      svg {
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }
  }
}

.codeblock {
  position: relative;
  font-family: "Fira Mono";
  font-size: 14px;
  line-height: 1.4em;
}

.copy {
  &--on {
    z-index: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0.7em;
    right: 0.6em;

    border: none;
    background: transparent;
    color: var(--icon-color);
    cursor: pointer;
  }
}

.mermaid {
  background: var(--mermaid-background);
  filter: brightness(var(--mermaid-brightness));
}

// for line numbers
code table td:nth-of-type(1) {
  text-align: right;
  user-select: none;
  padding-right: 0.5em;
  mark::before {
    width: calc(100% + 1em);
  }
}

pre {
  background: var(--bg-color);
  text-wrap: wrap;
  padding: 0.7em;

  &[data-linenos] {
    padding-right: 12px 48px 12px 8px;
  }
}

pre > code > mark::before {
  background: orange;
  width: calc(100% + 48px + 16px);
  left: -16px;
}

p > code,
li > code,
th > code,
td > code {
  background: var(--inline-code-bg);
  border-radius: 4px;
  color: var(--inline-code-color);
  font-size: 0.9em;
  padding: 3px;
  line-height: 0em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4,
h5,
h6 {
  font-size: 1.2em;
}

blockquote {
  border-left: 2px solid var(--blockquote-border-color);
  padding-left: 14px;
}
