{% import "macros/get-icon.html" as asset %}
<blockquote class="quote">
  {% set lquote = asset::get_icon(file="quote-left.svg") %}
  {% set rquote = asset::get_icon(file="quote-right.svg") %}

  <div class="quote__body">
    <div class="quote__left">{{ lquote | safe }}</div>
    <div class="quote__text">
      {{ body | markdown | safe}}
    </div>
    <div class="quote__right">{{ rquote | safe }}</div>
  </div>

  {% if author %}
  <strong class="quote__from"><i>-- {{ author }}</i></strong>
  {% endif %}
</blockquote>
