<header>
  <div class="top-nav">
    <nav class="top-nav__content">
      <!-- <a class="top-nav__brand" href="/">{{ config.extra.id }}</a> -->
      <a class="top-nav__brand" href="/">
        <img class="top-nav__brand-img" src="/icon/avatar.jpg"/>
      </a>
      <span>::</span>
      <span>[</span>
      <ul class="top-nav__list">
        {% set sections = config.extra.sections %}
        {% for section in sections %}
          <li class="top-nav__item">
            <a class="top-nav__link" href="{{ section.path }}">
              {{ section.name }}
            </a>
          </li>
          {% if not loop.last %}
            <span class="top-nav__divider">,</span >
          {% endif %}
        {% endfor %}
      </ul>
      <span>]</span>
    </nav>

    <div class="top-nav__controls">
      {% set sun_icon  = load_data(path="static/icon/sun.svg") %}
      {% set moon_icon = load_data(path="static/icon/moon.svg") %}

      <button 
        id="theme-toggle"
        class="top-nav__theme-toggle"
        data-sun-icon="{{ sun_icon }}"
        data-moon-icon="{{ moon_icon }}"
      >
        {{ moon_icon | safe }}
      </button>

      {% if page.extra.toc and page %}
        {% set toc_icon = load_data(path="static/icon/toc.svg") %}
        <button class="top-nav__toc-toggle" onclick="toggleToc()">
          {{ toc_icon | safe }}
        </button>
      {% endif %}
    </div>
  </div>
</header>
