{% extends "_base.html" %}

{% import "macros/toc-list.html" as macros %}

{% block title %}{{ page.title }}{% endblock title %}

{% block head %}
  <link id="syntax-theme" rel="stylesheet" href="/syntax-theme-light.css" />
  {% if page.extra.math %}
    {% include "math.html" %}
  {% endif %}
{% endblock head %}

{% block content %}

{% include "_header.html" %}

{% set copy_icon  = load_data(path="static/icon/copy.svg") %}
{% set check_icon = load_data(path="static/icon/check.svg") %}

<div class='clipboard-icons'
    data-copy-icon="{{ copy_icon }}"
    data-check-icon="{{ check_icon }}"
></div>

<div class="post">
  <main class="post__content">
    {% if page.extra.toc %}
      <aside class="post-toc">
        {{ macros::toc_list(toc=page.toc) }}
      </aside>
    {% endif %}
    <article class="post__article">
      <h1 class="post__title">{{ page.title }}</h1>
      <div class="post__meta">
        <span class="post__date">
          {{ page.date | date }}
          {% if page.updated %}
            &nbsp;&vert;&nbsp;
            Update &nbsp;{{ page.updated | date }}
          {% endif %}
        </span>

        {% if page.taxonomies.tags %}
        <div class="post__tags">
          {% for tag in page.taxonomies.tags %}
            {%- set tag_slug = tag | slugify -%}
              <a 
                class="post__tags-link" 
                href="/tags/{{tag_slug}}"
                target="_blank"
                rel="noopener noreferrer"
              >
                #{{tag_slug}}
              </a>
            {% if not loop.last %} &nbsp; {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ page.content | safe }}
    </article>
    <aside class="post__padding"></aside>
  </main>
</div>

{% block script %}
  {% if page.extra.mermaid %}
    {% include "mermaid.html" %}
  {% endif %}
{% endblock script %}

{% include "_footer.html" %}

{% endblock content %}
